<!DOCTYPE html>
<html lang={{lang}}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigbovik Tokyo 2026 - About Us</title>
    <link rel="stylesheet" type="text/css" href="../../../static/style.css" />
    <meta 
        name="description" 
        content="Sigbovik Tokyo 2026 is an official partner of CMU's yearly Sigbovik conference
            featuring academic papers and talks featuring joke topics that are sometimes heavily 
            researched. It will be held in Tokyo this year for the very first time in December!"
    />
</head>
<body>
    <header>
        <h1>Sigbovik Tokyo 2026</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <main>
        <!-- About us Content goes here -->
    </main>
    <footer>
        <p>&copy; Sigbovik Tokyo 2026</p>
    </footer>
</body>
</html>