<!DOCTYPE html>
<html lang={{lang}}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigbovik Tokyo 2026 - About Us</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <meta 
        name="description" 
        content="Sigbovik Tokyo 2026 is an official partner of CMU's yearly Sigbovik conference
            featuring academic papers and talks featuring joke topics that are sometimes heavily 
            researched. It will be held in Tokyo this year for the very first time in December!"
    />
</head>
<body>
    <header>
        <h1>Sigbovik Tokyo 2026</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <main>
        <!-- What is Sigbovik? -->
        <h2>What is Sigbovik?</h2>
        
            <p>
                Sigbovik is a hilariously satirical conference that presents research, presentations, and talks 
                on niche, unprofessional topics that are usually neglected by mainstream media and science. 
                Originally an yearly conference held at Carnegie Mellon University (CMU), Sigbovik Tokyo aims 
                to capture the idea, culture, and bring the tradition to Tokyo! 
            </p>

        <!-- Organizers  -->
        <h2>Organizers</h2>

            <p>
                This year's Sigbovik Tokyo was organized and hosted by a list of student organizations and people. 
                This section is dedicated to honor them all.
            </p>

            <ul>
                <li>
                    <img 
                        src="{{tsn_logo}}"
                        alt="Tokyo Student Network's Logo"
                        width="50"
                    >

                    <strong>Tokyo Student Network (TSN)</strong> is a student-driven
                    community connecting students across universities in Tokyo. 
                    We create a safe, inclusive space to collaborate, learn, and grow.

                    <a href="https://tokyostudentnetwork.com/">
                        Tokyo Student Network Homepage
                    </a>
                </li>
                <li>
                    <img 
                        src="{{tuj_cs_society_logo}}"
                        alt="Temple University Japan Computer Science Society's Logo"
                        width="50"
                    >

                    <strong>Temple University Japan (TUJ) CS Society</strong> is a student-led organisation connecting Computer Science students from 
                    Temple University to other universities and opportunities in Japan, 
                    hosting hackathons and other events for university students.

                    <a href="https://tuj-computer-science-society.github.io/tuj-cs-society-blog/">
                        TUJ CS Society Blog
                    </a>
                </li>
                <li>
                    <img 
                        src="{{gdgoc_iput_logo}}"
                        alt="Google Developers on Campus IPUT's Logo"
                        width="50"
                    >

                    <strong>Google Developer Groups on Campus IPUT</strong> is an independently run developer community 
                    based at the International Professional University of Technology (IPUT)'s 
                    three campuses in Tokyo, Osaka, and Nagoya.

                    <a href="https://gdg.community.dev/gdg-on-campus-international-professional-university-of-technology-tokyo-japan/">
                        GDGoC IPUT's Homepage
                    </a>
                </li>
                <li>
                    <img 
                        src="{{gdgoc_waseda_logo}}"
                        alt="Google Developers on Campus Waseda University's Logo"
                        width="50"
                    >

                    <strong>Google Developer Groups on Campus Waseda University</strong> is one of Japan’s 
                    largest student-led developer communities, 
                    bringing together a diverse bilingual network of students to collaborate, 
                    innovate, and build impactful projects.

                    <a href="https://www.gdsc-waseda.com/">
                        GDGoC Waseda's Homepage
                    </a>
                </li>
            </ul>


        <!-- Sponsors -->
        <h2>Sponsors</h2>
            <ul>
                <li>
                    <strong>Ourselves!</strong>
                    We're lowk broke right now, so we're just sponsoring it ourselves :shrug:
                </li>
            </ul>


        <!-- FAQs -->
        <h2>FAQs</h2>

            <ol>
                <li>
                    <strong>Is anyone allowed to present at the conference?</strong>
                    <ul>
                        <li>
                            Yes! As long as you do an ample amount of research on your topic and provide 
                            logical reasoning for your methods, you are allowed to present at the conference.
                        </li>
                        <li>
                            All you have to do, is apply to be a speaker with your research topic and proposal, 
                            and if you get accepted at the speaker workshop, you are good to present at the conference! 
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Is it free to attend?</strong>
                    <ul>
                        <li>Yes! It's completely free to attend.</li>
                        <li>Be an engaging particiapnt, a curious audience member, and enjoy the show!</li>
                    </ul>
                </li>
                <li>
                    <strong>Are we serious?</strong>
                    <ul>
                        <li>Yes.</li>
                        <li>It's a serious event.</li>
                    </ul>
                </li>
                <li>
                    <strong>Why?</strong>
                    <ul>
                        <li>Why not?</li>
                    </ul>
                </li>
                <li>
                    <strong>No?</strong>
                    <ul>
                        <li>Yes?</li>
                    </ul>
                </li>
            </ol>

    </main>
    <footer>
        <p>&copy; Sigbovik Tokyo 2026</p>
    </footer>
</body>
</html>