<!DOCTYPE html>
<html lang="{{ common.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ common.title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <meta name="description" content="{{ common.description }}">
</head>
<body class="{{ common.lang }}">
    <div class="wrapper">
        <nav class="nav">
            <ul class="nav-actions">
                {% for lang_alternate in common.lang_alternates %}
                    <li>→ <a href="/{{ lang_alternate }}">{{ lang_alternate }}</a></li>
                {% endfor %}
            </ul>
            <header>
                <p class="eyebrow {{ common.title_alternate_lang }}">{{ common.title_alternate }}</p>
                <svg class="banner" viewBox="0 0 1000 150" role="img" aria-label="{{ common.title }}" preserveAspectRatio="xMidYMid meet">
                    <text x="500" y="112" font-size="110" text-anchor="middle" textLength="960" lengthAdjust="spacingAndGlyphs">{{ common.title }}</text>
                </svg>
            </header>
            <!-- <ul id="nav-links">
                <li><a href="/{{ common.lang }}">{{ common.home }}</a></li>
                <li><a href="/{{ common.lang }}/about">{{ common.about }}</a></li>
            </ul> -->
        </nav>
        <main>
            <h2>{{ index.first-paragraph-title }}</h2>
            <p>{{ index.first-paragraph-body }}</p>
    
            <h2>{{ index.second-paragraph-title }}</h2>
            <p>{{ index.second-paragraph-body }}</p>
    
            <h2>{{ index.third-paragraph-title }}</h2>
            <p>{{ index.third-paragraph-body }}</p>
    
            <h2>{{ index.fourth-paragraph-title }}</h2>
            <p>{{ index.fourth-paragraph-body-a }}</p>
            <!-- sticker image goes here -->
            <p>{{ index.fourth-paragraph-body-b }}</p>

            <h2 class="schedule-title">{{ index.fifth-paragraph-title }}</h2>
            <table class="schedule">
            <tr>
                <td class="time" colspan="3">... {{ index.fifth-paragraph-body }} ...</td>
            </tr>
            </table>
            
            <h2>{{ index.sixth-paragraph-title }}</h2>
            <p>{{ index.sixth-paragraph-body }}</p>
    
            <h2>{{ index.seventh-paragraph-title }}</h2>
            <ul class="sponsors-list">
                {% for sponsor in index.seventh-paragraph-body %}
                    <li>{{ sponsor }}</li>
                {% endfor %}
            </ul>
        </main>
        <footer>
            <p>&copy; Sigbovik Tokyo 2026</p>
        </footer>
    </div>
</body>
</html>
