<!DOCTYPE html>
<html lang={{lang}}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigbovik Tokyo 2026</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
    <meta 
        name="description" 
        content="Sigbovik Tokyo 2026 is an official partner of CMU's yearly Sigbovik conference
            featuring academic papers and talks featuring joke topics that are sometimes heavily 
            researched. It will be held in Tokyo this year for the very first time in December!"
    />
</head>
<body>
    <header>
        <h1>SIGボヸック東京 2026</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <main>
        <div id="description">
            <h1>What is Sigbovik Tokyo?!?</h1>
            <p>
                Sigbovik Tokyo 2026 is an official partner of CMU's yearly Sigbovik conference 
                featuring academic papers and talks featuring joke topics that are sometimes heavily 
                researched. It will be held in Tokyo this year for the very first time in December!
            </p>
        </div>
        <div id="luma-links-container">
            <h1>Attend Sigbovik Tokyo!!!</h1>
            <div id="luma-brief">
                <a href="#">Click here to attend!</a>
                <ul>
                    <li>Datetime: YYYY-MM-DDTHH:mm:ss</li>
                    <li>Venue: Somewhere in Tokyo Metropolis...</li>
                    <li>Perks: Knowledge!!! And free ducks &lt;3</li>
                </ul>
            </div>
            <div id="luma-qr">
                <img src=""
                    alt="QR code for the Luma landing page of Sigbovik Tokyo">
            </div>
        </div>
        <div id="announcements">
            <h1>Announcements</h1>
            <ul>
                <li>Nothing... for now mwahahaha!</li>
            </ul>
            <!-- TODO: Here be a fancy for loop tag or something. -->
        </div>
        <div id="contact">
            <h1>
                Ask 
                <ruby>Harry<rt>ハリー</rt></ruby> 
                <ruby>Q.<rt>キュー</rt></ruby> 
                <ruby>Bovik<rt>ボヸック</rt></ruby>!?!
            </h1>
            <p>
                For inquiries: 
                <a href="mailto:sigbovik-tokyo@theducks.xyz">
                    sigbovik-tokyo@theducks.xyz</a>
            </p>
        </div>
    </main>
    <footer>
        <p>&copy; Sigbovik Tokyo 2026</p>
    </footer>
</body>
</html>
